#player1Game,#player2Game,#gameResults{
    border-style: solid;
    height: 200px;
    text-align: center;
    font-weight: bold;
    border-color: rgb(0, 82, 102);
}
#greeting{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 20px;
}
#chat{
    width: 40%;
    background-color: antiquewhite;
    border-style: solid;
    border-color: rgb(0, 82, 102);
}

#chatBox{
    
    height: 200px;
    background-color: antiquewhite;
    border-style: solid;
    border-color: rgb(0, 82, 102);
    font-size: 15px;

}
body{
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    border-color: rgb(0, 82, 102);
    font-size: 20px;

}

#player-name{
    background-color: antiquewhite;
    border-style: solid;
    border-color: rgb(0, 82, 102);
}